rosa = #7d6350
html
    padding 20px
body
    background-image url(../img/fondo.png)
    background-repeat no-repeat
    color white !important

#formInscripcion
    margin-top 180px
    padding 3em 1em 0.5em 1em
    background-color black
    opacity 0.8
    border none
    border-radius 15px