fucsia = #c30773
morado = #791551

@font-face {
    font-family: 'Frutiger-Black';
    font-style: normal;
    font-weight: normal;
    src:url('../fonts/FrutigerLTStd-Black.otf') format('truetype');
}

@font-face {
    font-family: 'Frutiger-BlackCn';
    font-style: normal;
    font-weight: normal;
    src:url('../fonts/FrutigerLTStd-BlackCn.otf');
}

@font-face {
    font-family: 'Frutiger-lt';
    font-style: normal;
    font-weight: normal;
    src:url('../fonts/frutiger_lt_std_roman.ttf');
}


html
    padding 0
    margin 0
    width 100%
body
    background-image url(../img/bg.jpg)
    background-repeat no-repeat
    padding 0
    margin 0
    padding-top 18px
    width 100%

.font-frutiger
    font-family Frutiger-lt !important

.text-white
    color white

.text-fucsia
    color fucsia !important

.text-morado
    color morado !important

.text-black
    color black !important

::-webkit-input-placeholder
   color: fucsia
   opacity: 0.7
:-moz-placeholder
   color: fucsia
   opacity: 0.7
::-moz-placeholder
   color: fucsia
   opacity: 0.7
:-ms-input-placeholder
   color: fucsia
   opacity: 0.7

#formInscripcion
    background-image url(../img/bg-formulario.png)
    background-repeat no-repeat
    padding 3.5em 8.7em 1.5em 8.2em
    margin auto
    width 581px
    height 433px
    input[type='text']
    input[type='date']
        border-radius 0
        color fucsia
        font-size 1.2em
        padding 2.5px 5px 1px 8px !important
        width 100%
    label
        color white
        padding 3px 8px !important
        text-align left
        width 100%
#formInvitar
    background-image url(../img/bg-ranking.png)
    background-repeat no-repeat
    padding 1.3em 4.2em 2em 3.2em
    margin auto
    width 572px
    height 436px
    .panel-amigos
        height 320px
        overflow auto
        font-size 0.8em
        .item-amigos
            height 45px
            margin-bottom 8px
            ul.lista-amigos
                position relative
                margin 0
                li
                    padding 0.2em
                    margin 0

#panelVideo
    background-image url(../img/bg-video.png)
    background-repeat no-repeat
    padding 2.5em 4.2em
    margin auto
    width 735px
    height 393px


.panel-addicted
    margin 0.5em !important

.boton
.boton-small
    border 2px solid white
    background-color transparent
    color white
    font-family Frutiger-lt !important
    font-size 1.5em
    padding 0.4em 0.6em
.boton-small
    font-size 1.2em
    padding 0.3em 0.6em

.icono-enviar
    background-image url(../img/icono-enviar.png)
    background-repeat no-repeat
    color white !important
    display inline
    height 36px
    width 40px

.alert-danger
    font-size 1.4em !important
    color white !important
    background-color fucsia !important


.alert-info
    font-size 1.4em !important
    color white !important
    background-color fucsia !important


