html{padding:20px}
body{background-image:url("../img/fondo.png");background-repeat:no-repeat;color:#fff !important}
#formInscripcion{margin-top:180px;padding:3em 1em .5em 1em;background-color:#000;opacity:.8;border:none;border-radius:15px}
